.login-article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 256px;
        margin-bottom: $sep-lg;
    }

    form {
        width: 30%;

        .btn-primary-container {
            width: 100%;
        }
    }

    form > .inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .input:nth-child(1) {
            margin-bottom: $sep-md;
        }

        .input:nth-child(2) {
            margin-bottom: $sep-md;
        }

        .ch {
            margin-bottom: $sep-xl;
        }
    }
}