.icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
}

.arrow-icon {
    width: 21px;
    height: 21px;
    background-image: url(../../assets/icons/arrow-right.svg);
}

.at-icon {
    background-image: url(../../assets/icons/at-sign.svg);
}

.lock-icon {
    background-image: url(../../assets/icons/lock.svg);
}

.user-icon {
    background-image: url(../../assets/icons/user.svg);
}