<div class="ball green-ball"></div>
<div class="ball blue-ball"></div>
<div class="ball red-ball"></div>
<div class="ball yellow-ball"></div>

<div routerLink="" class="link-container">
    <a class="link">Iniciar sesión</a>
    <div class="icon arrow-icon"></div>
</div>

<article class="register-article">
    <img src="../../../assets/img/virus_logo.png" alt="Logo Virus">
    <form>
        <section class="inputs">
            <div class="input">
                <input type="text" class="input-text" placeholder="Nombre de usuario">
                <div class="icon user-icon"></div>
            </div>

            <div class="input">
                <input type="text" class="input-text" placeholder="Correo electrónico">
                <div class="icon at-icon"></div>
            </div>

            <div class="input">
                <input type="password" class="input-text" placeholder="Contraseña">    
                <div class="icon lock-icon"></div>
            </div>

            <div class="input">
                <input type="password" class="input-text" placeholder="Repetir contraseña">    
                <div class="icon lock-icon"></div>
            </div>
            
        </section>

        <div class="btn-primary-container">
            <input class="btn-primary" type="submit" value="Crear cuenta">
            <div class="yellow-block block"></div>
            <div class="green-block block"></div>
            <div class="blue-block block"></div>
            <div class="red-block block"></div>
        </div>
    </form>
</article>
