<div class="ball green-ball"></div>
<div class="ball blue-ball"></div>
<div class="ball red-ball"></div>
<div class="ball yellow-ball"></div>

<div routerLink="" class="link-container">
    <a class="link">Iniciar sesión</a>
    <div class="icon arrow-icon"></div>
</div>

<div class="popup">
    <div class="icon info-icon"></div>
    <span class="text-popup">Mensaje</span>
</div>

<article class="register-article">
    <img src="../../../assets/img/virus_logo.png" alt="Logo Virus">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <section class="inputs">
            <div class="input">
                <input type="text" formControlName="username" required name="username" class="input-text" placeholder="Nombre de usuario">
                <div class="icon user-icon"></div>
            </div>
            <span class="error-msg" *ngIf="registerForm.get('username')?.hasError('required') && isSubmitted">Este campo es obligatorio</span>

            <div class="input">
                <input type="text" formControlName="email" required email name="email" class="input-text" placeholder="Correo electrónico">
                <div class="icon at-icon"></div>
            </div>
            <span class="error-msg" *ngIf=" registerForm.get('email')?.hasError('required') && isSubmitted">Este campo es obligatorio</span>
            <span class="error-msg" *ngIf=" registerForm.get('email')?.hasError('email') && isSubmitted">Debe tener formato Email</span>

            <div class="input">
                <input type="password" formControlName="password" required minlength="6" maxlength="50" name="password" #passwordC class="input-text" placeholder="Contraseña">    
                <div class="icon lock-icon"></div>
            </div>
            <span class="error-msg" *ngIf="registerForm.get('password')?.hasError('required') && isSubmitted">Este campo es obligatorio</span>
            <span class="error-msg" *ngIf="registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength') && isSubmitted" >Debe tener entre 6 y 50 caracteres</span>

            <div class="input">
                <input type="password" #confirmPass (keyup)="checkConfirmPassword()" class="input-text" placeholder="Repetir contraseña">    
                <div class="icon lock-icon"></div>
            </div>
            <span class="error-msg" [hidden]="isSamePassword">Las contraseñas deben ser iguales</span>

            
        </section>

        <div class="btn-primary-container">
            <input class="btn-primary" [disabled]="!registerForm.valid || !isSamePassword" type="submit" value="Crear cuenta">
            <div class="yellow-block block"></div>
            <div class="green-block block"></div>
            <div class="blue-block block"></div>
            <div class="red-block block"></div>
        </div>
    </form>
</article>
