/* COLORS */
$white: #f8f8f8;
$dark: #494949;
$blue: #0783BC;
$red: #DA1B1D;
$yellow: #FABD0F;
$green: #5CAB42;
$gray: #d9d9d9;

/* PADDING AND MARGIN */
$sep-xxxs: 3px;
$sep-xxs: 6px;
$sep-xs: 10px;
$sep-sm: .7rem;
$sep-md: 1rem;
$sep-lg: 1.5rem;
$sep-xl: 2.2rem;
$sep-xxl: 3.2rem;
$sep-xxxl: 4rem;
$sep-auto: auto;

/* FONT SIZE */
$fs-xxs: 17px; 
$fs-xs: .65em; 
$fs-sm: .8em;
$fs-md: 1em;
$fs-lg: 1.3em;
$fs-xl: 2em;
$fs-xxl: 2.7em;
$fs-xxxl: 3.5em;
$fs-4xl: 4.2em;
$fs-responsive: 9vw;

/* BORDER RADIUS */
$br-xs: 5px;
$br-sm: 10px;
$br-md: 15px;
$br-lg: 20px;
$br-xl: 30px;
$br-xxl: 50px;
$br-circle: 50%; 